<div class="forfaitComplet" [ngClass]="{'enVedette': forfait.vedette}">

  <div class="infos">
    <div class="photo"></div>

    <div class="interieurInfos">
      <h3>
        {{ forfait.destination }},
        <span class="villeDepart">de {{ forfait.villeDepart }}</span>
      </h3>
      <h2>{{ forfait.hotel.nom }}</h2>
      <app-etoiles [nbEtoiles]="forfait.hotel.nombreEtoiles"></app-etoiles>
      <p>{{ forfait.hotel.nombreChambres }} chambres</p>
    </div>
  </div>

  <div class="infosSupp">
    <ul>
      <li *ngFor="let carac of forfait.hotel.caracteristiques">{{ carac }}</li>
    </ul>
    <p>{{ forfait.hotel.coordonnees }}</p>
  </div>

  <div class="contenantPrix">
    <div class="duree">
      <p class="nbJours">14 jours</p>
      <p>Du {{ forfait.dateDepart }} </p>
      <p>au {{ forfait.dateRetour }}</p>
    </div>
    <app-prix-forfait [forfait]="forfait"></app-prix-forfait>
  </div>
 </div>
