<form class="formForfait">
  <h2>Ajouter un forfait</h2>
  <div class="destination">
    <p>
      <mat-form-field appearance="fill">
        <input type="text"
               required
               placeholder="Destination"
               aria-label="destination"
               matInput
               [formControl]="controlDestination"
               [matAutocomplete]="autoDestination">
        <mat-autocomplete #autoDestination="matAutocomplete">
          <mat-option *ngFor="let optionDestination of filteredOptionsDestination | async" [value]="optionDestination">
            {{optionDestination}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <input type="text"
               required
               placeholder="Ville de départ"
               aria-label="ville de départ"
               matInput
               [formControl]="controlDepart"
               [matAutocomplete]="autoDepart">
        <mat-autocomplete #autoDepart="matAutocomplete">
          <mat-option *ngFor="let optionDepart of filteredOptionsDepart | async" [value]="optionDepart">
            {{optionDepart}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
  </div>

  <div class="hotel">
    <h3>Informations sur l'hôtel</h3>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nom de l'hôtel</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Nom de l'hôtel"
          minlength="2"
          [ngModel]="nomHotel"
          name="ctrlNomHotel"
          #ctrlNomHotel="ngModel">
        <mat-error *ngIf="ctrlNomHotel.hasError('required')">
          Le nom de l'hôtel est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error *ngIf="ctrlNomHotel.hasError('minlength')">
          La longueur minimale du nom de l'hôtel est de 2 caractères.
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Coordonnées</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Coordonnées"
          minlength="2"
          [ngModel]="coordonnees" name="ctrlCoordonnees" #ctrlCoordonnees="ngModel">
        <mat-hint>No app., No et nom de rue, Ville, Province, Code postal, Pays</mat-hint>
        <mat-error *ngIf="ctrlCoordonnees.hasError('required')">
          Les coordonnées de l'hôtel sont <strong>obligatoires</strong>.
        </mat-error>
        <mat-error *ngIf="ctrlCoordonnees.hasError('minlength')">
          La longueur minimale des coordonnées est de 20 caractères.
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de chambres</mat-label>
        <input
          id="ctrlNbChambres"
          name="ctrlNbChambres"
          type="number"
          required
          min="0"
          matInput
          placeholder="Nombre de chambres">
      </mat-form-field>
    </p>

    <p class="sliderEtoiles">
      <label>Nombre d'étoiles</label>
      <mat-slider
        required
        thumbLabel
        [displayWith]="labelEtoiles"
        tickInterval="1"
        min="1"
        max="5"></mat-slider>
    </p>

    <ul>
      <li *ngFor="let carac of caracteristiques">
        <mat-checkbox>{{ carac }}</mat-checkbox>
      </li>
    </ul>

  </div>

  <div class="dates">
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date de départ</mat-label>
        <input
          required
          matInput
          [matDatepicker]="pickerDateDepart">
        <mat-datepicker-toggle matSuffix [for]="pickerDateDepart"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateDepart></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date de retour</mat-label>
        <input
          required
          matInput
          [matDatepicker]="pickerDateRetour">
        <mat-datepicker-toggle matSuffix [for]="pickerDateRetour"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateRetour></mat-datepicker>
      </mat-form-field>
    </p>
  </div>

  <div class="prix">
    <mat-form-field appearance="fill">
      <mat-label>Prix</mat-label>
      <input
        type="number"
        required
        matInput
        min="0"
        placeholder="Prix">
    </mat-form-field>
  </div>
</form>


