.App {
  text-align: center;
  padding-top: 2rem;
}

h1 {
  text-transform: uppercase;
}

.logo {
  max-width: 120px;
}

ul {
  list-style: none;
  padding: 0 0 2rem;
}

.imgJoueur {
  max-width: 600px;
}

button {
  box-shadow: 0;
  border: 0;
  padding: 1.5rem 2rem;
  background-color: #000;
  color: red;
  letter-spacing: 0.02rem;
  font-size: 1em;
  margin-bottom: 3rem;
  cursor: pointer;
}

button:hover {
  background-color: #111;
}
