<mat-card class="carteMiniForfait">
  <mat-card-header class="carteEntete">
    <mat-card-subtitle>{{ miniForfait.destination }}, <span class="villeDepart">de {{ miniForfait.villeDepart }}</span></mat-card-subtitle>
    <mat-card-title>{{ miniForfait.hotel.nom }}</mat-card-title>
    <app-etoiles [nbEtoiles]="miniForfait.hotel.nombreEtoiles"></app-etoiles>
  </mat-card-header>
  <mat-card-content>
    <app-prix-forfait [forfait]="miniForfait"></app-prix-forfait>
    <p class="duree">{{ miniForfait.dateDepart }}, 14 jours</p>
  </mat-card-content>
</mat-card>
