<button class="btn-ajout" matSuffix mat-button type="submit" (click)="openDialogNewForfait()"><i class="material-icons">add</i> Nouveau forfait</button>

<div class="table">
    <table mat-table #tableauForfaits [dataSource]="forfaits">

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let forfait" class="boutonsAction">
            <button class="btn-form" *ngIf="(selectedForfait && selectedForfait === forfait);else editButton;" color="primary" form="forfaitFormEdition" 
        mat-button><i class="material-icons">done</i></button>
            <ng-template #editButton>
                <form (ngSubmit)="onSelect(forfait)">
                    <button class="btn-form" mat-button><i class="material-icons">edit</i></button>
                </form>
            </ng-template>
            <form (ngSubmit)="onDelete(forfait)">
                <button class="btn-form" mat-button ><i class="material-icons">delete</i></button>
            </form>
        </td>
    </ng-container>

    <ng-container matColumnDef="dateDepart">
        <th mat-header-cell *matHeaderCellDef> Date de départ </th>
        <td mat-cell *matCellDef="let forfait"> 
            <form #forfaitFormEdition="ngForm" id="forfaitFormEdition" (ngSubmit)="forfaitFormEdition.form.valid && onEdit(forfaitFormEdition)">
                <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editDateDepart;" class="input-full-width">
                    <input 
                        name="selectedForfaitDateDepart" 
                        [(ngModel)]="selectedForfait.dateDepart" 
                        matInput 
                        required 
                        minlength="10" 
                        maxlength="10" 
                        name="dateDepartEdition" 
                        #dateDepartEdition="ngModel">
                    <mat-error *ngIf="dateDepartEdition.invalid && (dateDepartEdition.dirty || dateDepartEdition.touched) && 
                    dateDepartEdition.hasError('required')">La date de départ est obligatoire.</mat-error>
                    <mat-error *ngIf="dateDepartEdition.invalid && (dateDepartEdition.dirty || dateDepartEdition.touched) && 
                    dateDepartEdition.hasError('minlength')">La date de départ doit être au format suivant: "AAAA-MM-DD".</mat-error>
                </mat-form-field>
            </form>
            <ng-template #editDateDepart><span (click)="onSelect(forfait)">{{forfait.dateDepart}}</span></ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="dateRetour">
        <th mat-header-cell *matHeaderCellDef> Date de retour </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.dateRetour}} </td>
    </ng-container>

    <ng-container matColumnDef="nomHotel">
        <th mat-header-cell *matHeaderCellDef> Nom de l'hôtel </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.hotel.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="prixForfait">
        <th mat-header-cell *matHeaderCellDef> Prix du forfait </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.prix}} </td>
    </ng-container>
     
 
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
 
 </table>
</div>

 