form {
    border: solid 10px #5fbcd3;
    background-color: #d5f6ff;
    padding: 2rem;
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    display: block;
}

.form-check-inline label {
    font-weight: normal;
}

input[type="text"] {
    height: 1.5rem;
}

.label-nom {
    flex-basis: 100%;
}
.input-prenom {
    flex-basis: calc(40% - .5rem);
    margin-right: .5rem;
}
.input-nom {
    flex-basis: 60%;
}

textarea {
    width: 100%;
    min-height: 5rem;
}
