<style>
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .sidenav {
    background-color: #fff;
    padding: 1rem;
    border-right: 4px solid #2a7fff;
  }

  .sidenav-content {
    position: relative;
  }

  .sidenav-content button {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0;
    height: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2a7fff;
  }

  .sidenav-content i {
    color: #fff;
    margin-left: .75rem;
  }

</style>

<app-entete></app-entete>
<router-outlet></router-outlet>
<app-pied-de-page></app-pied-de-page>
