<nav>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="btn-menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="">Accueil</a>
        <a mat-menu-item routerLink="/forfaits-cuba">Cuba</a>
        <a mat-menu-item routerLink="/forfaits-mexique">Mexique</a>
        <a mat-menu-item routerLink="/a-propos">À propos</a>
        <a mat-menu-item routerLink="/tableau-de-bord">Admin</a>
    </mat-menu>
</nav>



