<div class="miniForfaitsListe">
  <h2>Prenez des vacances</h2>
  <div class="interieurMini">
    <div class="miniForfait" *ngFor="let miniForfait of forfaits | forfaitsVedette">
      <app-mini-forfait  [miniForfait]="miniForfait"></app-mini-forfait>
    </div>
  </div>
</div>

<mat-list class="forfaitsListe">
    <mat-list-item class="forfait" *ngFor="let forfait of forfaits">
      <app-forfait [forfait]="forfait" [ngClass]="{'enVedette': forfait.forfaitVedette}"></app-forfait>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>


