<div>
  <mat-list class="forfaitsListe" *ngIf="visibleForfaits === 'all'">
    <mat-list-item class="forfait" *ngFor="let forfait of forfaits">
        <app-forfait [forfait]="forfait" [ngClass]="{'enVedette': forfait.vedette}"></app-forfait>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="forfaitsListe" *ngIf="visibleForfaits === 'cuba'" >
    <mat-list-item class="forfait" *ngFor="let forfait of forfaits | forfaitsCuba">
        <app-forfait [forfait]="forfait" [ngClass]="{'enVedette': forfait.vedette}"></app-forfait>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-list class="forfaitsListe" *ngIf="visibleForfaits === 'mexique'" >
    <mat-list-item class="forfait" *ngFor="let forfait of forfaits | forfaitsMexique">
        <app-forfait [forfait]="forfait" [ngClass]="{'enVedette': forfait.vedette}"></app-forfait>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>






