.miniForfaitsListe
  background-image: url("https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=562&q=80")
  background-size: cover
  background-repeat: no-repeat
  padding: 1rem 0 2rem
  /*.ng-star-inserted
    flex-basis: 50%
    height: 100%*/

.interieurMini
  display: flex
  flex-wrap: nowrap
  align-items: stretch
  height: 100%
  padding: 0 4px

h2
  color: #fff
  font-size: 2.4rem
  line-height: 1em
  padding: 3rem 1rem 1rem

.forfait
  display: block
  margin-left: .5rem

app-forfait
  display: block
  margin: 1rem

app-mini-forfait
  display: block
  height: 100%

.forfaitsListe
  padding-bottom: 4rem

.mat-list-base .mat-list-item
  height: auto
  margin-left: -1rem
  margin-right: -1rem
  width: calc(100% + 2rem)


